.my-orders{
    height: 75vh;
}
.my-orders h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #41A3B3;
}

.my-orders .order-img{
    width: 100px;
}

.my-orders .row{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom:1px solid #ddd;

}